.business-header {
    height: 400px;
    background: url('images/happy-dog-wallpaper-12.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}